name: Deploy Flutter Web to GitHub Pages

on:
  push:
    branches:
      - main # Trigger on push to main branch

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      # 1. Checkout the code
      - name: Checkout Code
        uses: actions/checkout@v4

      # 2. Set up Flutter environment
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          # flutter-version: '3.19.0' # Optional: Specify version if needed

      # 3. Install Dependencies
      - name: Install Dependencies
        run: flutter pub get

      # 4. Build the Web App
      - name: Build Web
        run: flutter build web --base-href "/register-screens-flutter/" --release

      # 5. Deploy to 'gh-pages' branch
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web
          publish_branch: gh-pages # The script creates/updates this branch automatically